# all files (e.g. .bashrc if www/ is under user's home directory)
*

# but we need THIS file
!/.gitignore

# do not ignore WWW
!/www
# but ignore all inside it
/www/*

# except bitrix - do not ignore it
!/www/bitrix/
# but ignore all inside it
/www/bitrix/*

# except php_interface (there is init.php)
!/www/bitrix/php_interface
!/www/bitrix/php_interface/*
!/www/bitrix/php_interface/**
/www/bitrix/php_interface/dbconn.php

#
# and so on: ignore, but except, ignore, but except...
#

# templates
!/www/bitrix/templates/
!/www/bitrix/templates/*
!/www/bitrix/templates/**

# local
!/www/local/
!/www/local/*
!/www/local/**


# ignore these files always

*.log
*.tar.gz
*.tar


